body{

margin:0;

padding:0;

font-family:Arial;

background:

linear-gradient(

90deg,

#eef2ff,

#f4f0ff

);

}

.container{

width:700px;

margin:auto;

margin-top:50px;

background:white;

padding:40px;

border-radius:15px;

text-align:center;

box-shadow:

0px 0px 15px lightgray;

}

h1{

font-size:50px;

color:#111f4d;

margin-bottom:10px;

}

.line{

width:150px;

height:4px;

background:

linear-gradient(

90deg,

blue,

hotpink

);

margin:auto;

margin-bottom:40px;

}

label{

font-size:28px;

font-weight:bold;

}

input{

width:90%;

padding:18px;

margin-top:20px;

font-size:22px;

border:

1px solid lightgray;

border-radius:8px;

}

button{

margin-top:30px;

padding:

18px 50px;

font-size:22px;

border:none;

border-radius:8px;

cursor:pointer;

color:white;

background:

linear-gradient(

90deg,

blue,

purple

);

}

.result{

margin-top:50px;

background:

#edf8ee;

padding:25px;

border-radius:10px;

}

.result h2{

font-size:40px;

color:green;

}
